services:
  backend_dev:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    image: mega-app-backend-dev:local
    container_name: backend_dev
    ports:
      - "5000:5000"
    
    environment:
       PORT: 5000
       CHOKIDAR_USEPOLLING: true
       CHOKIDAR_INTERVAL: 1000
       DATABASE_URL: ${DATABASE_URL}
       NODE_ENV: ${NODE_ENV}
    
    volumes:
      - .:/backend
      - backend_dev_nd_modules:/backend/node_modules
    networks:
      - mega_app_network

    restart: no

volumes:
  backend_dev_nd_modules:

networks:
  mega_app_network:
    driver: bridge